body{
	margin:0px;
}
.tt0{
	margin-left:250px;
	color:green;
	transform:skew(-15deg, 0deg);
	height:1000px;
	width:500px;
	background-color:yellow;
	display:inline-block;
}
h2{
	margin:0px;
}
.tt1{
		color:green;
}
h4{
	color:red;
	font-weight:bolt;
/* 	text-decoration:underline;
	text-decoration-style:double;
	text-decoration-color:green; */
	line-height:25px;
	text-shadow:1px 1px 1px black;
}
.tt2{
	float:left;
	height:100px;
	width:200px;
	border:3px green dotted;
}
.tt3{
		color:green;
		height:100px;
	width:500px;
	display:inline-block
}
.t0t0{
	margin-left:250px;
	height:1000px;
	width:500px;
	background-color:blue;
	transform:skew(15deg, 0deg);
	display:inline-block;
}
